#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.main-navbar {
  font-family: Karla;
  font-size: 20.748px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.075px;
  margin: auto auto;
  width: 550px;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: #fff !important;
}
