#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.main-navbar {
  font-family: Karla;

  font-style: normal;

  line-height: normal;
  /* letter-spacing: -2.075px; */
  margin: auto auto;
  max-width: 650px;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: #fff !important;
}
.navbar-brand-text {
  font-size: 20.748px;
  font-weight: 700;
}
.navbar-text {
  /* text-align: right; */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.form-content {
  margin-top: 2rem !important;
  max-width: 550px;
  margin: auto auto;
}
.text-center {
  color: var(--gray-700, #374151);
  font-family: Karla;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.375px; /* 116.963% */
  text-align: left !important;
}

#submit-button {
  min-width: 550px;
  height: 40px;
  border-radius: 5px;
  background: linear-gradient(90deg, #711f8d 1.14%, #a818da 100%);
}

.meme-img {
  margin-top: 2rem !important;
}
